@media screen and (max-width:1024px)
{
body
{
  font-family: 'Finlandica', sans-serif; 
  margin: 0px;
  background-color:#1a2c46;
}
img
{ max-width: 100%;
  border-radius: 50px; 
  box-shadow: 2px;
}
a{  
text-decoration: inherit;
text-shadow: 2px;
color: rgb(255 255 255 / 38%);
}
.wrapper {
  max-width: 960px;
  margin: 0px auto; 
  }
.header {
    display: inline-block; 
    width: 100%; 
    background: rgb(23,147,147);
 }
.header img { 
    max-width: 70px;
    height: auto; 
}
.logo{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.buttons a{
    display: inline-block; 
    padding: 10px 15px; 
    border-radius:10px;
    color: #000000 ; 
    text-decoration:inherit;
    font-size: 25px; 
    margin-left: 5px;
}
.content {
 
    font-size: 20px;
    display:inline-block;
    color:#ffffff;
    width:100%;
}
.play a{
    float: left;
    color: rgb(255 255 255 / 38%); 
}
.image{
    float:left;
    text-align:center;
    font-size:22px;
    margin-top:20px;
    height: auto;
    margin-right: 20px;
    max-width: 100px;
    width: 100%;
    display:flex;
    
}
.picks{
    width: 100%;
    display: inline-block;
    margin-block-end:-30px;
    color: rgb(255, 255, 255);
}
.artist{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 253, 253);
}
.w1{
    width:60%;
    float:left;
}
.w2{
    width:40%;
    position:fixed;
    display:inline-block;
}

.play a:hover{
    color: #fff;
}

.music-player {
  background: #4c72a8;
  border-radius: 15px;
  box-shadow: 0 20px 50px -30px #000;
  width: 300px;
  overflow: hidden;
  margin: 50px auto;
}
.music-player--banner {
  background: url("../images/bones.jpg");
  background-size: cover;
  height: 330px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position:sticky;
  z-index:1;
}

.music-player--progress {
  position: relative;
  overflow:auto;
  padding: 5px;

}
.progress--progress-bar {
  position: absolute;
  width: 100%;
  top: -1px;
  left: 0;
  -webkit-appearance: none;
  height: 3px;
  z-index:2
}
.progress--progress-bar::-webkit-progress-bar {
    height: 4px;
    background: transparent;
 }
.progress--progress-bar::-webkit-progress-value {
  background: #ED5483;
 }

.progress--time {
  color: #A9A9A9;
  font-size: 10px;
  float: left;
}
.progress--time__end {
  float: right;
}

.music-player--controls {
  padding: 0px 20px 20px;
}
.controls--play-button {
  display:inline-block;
  border-radius: 50%;
  padding: 13px 15px;
  background: #444;
  color: #708eb8;
  font-size: 18px;
  cursor: pointer;
}
.controls--play-button:hover {
  background: gray;
}
.song-info {
  display:inline-block;
  position:relative;
  top:5px;
  margin-left:5px
}
.song-info--title {
  font-size: 18px;
  color: #8E8E8E;
}
.song-info--artist {
  font-size: 12px;
  color: #D8D8D8;
}

.controls--actions {
  display:inline-block;
  vertical-align: top;
  margin-top: 10px;
  float:right;
}
.controls--actions i {
    font-size: 20px;
    color: #BCBECA;
    cursor: pointer;
}
.controls--actions .actions--repeat {
  position:relative;
  top: 2px;
}
.controls--actions .actions--repeat:hover {
  color: #444
}
.controls--actions .fa-backward, .controls--actions .fa-forward {
  border-radius: 50%;
  background: #BCBECA;
  color: white;
  font-size: 9px;
  padding: 5px 4px 5px 7px;
}
.controls--actions .fa-backward:hover, .controls--actions .fa-forward:hover {
  background: #444;
}
.controls--actions .fa-backward {
  padding: 5px 6px 5px 5px;
}

body::-webkit-progress-bar {
    height: 4px;
    background: transparent;
 }
body::-webkit-progress-value {
  background: #ED5483;
 }
}
@media screen and (max-width:768px)
{
body
{
  font-family: 'Finlandica', sans-serif; 
  margin: 0px;
  background-color:#1a2c46;
}
.bbt1{
    display:block;
    background: none;
    border:none;
}
.bbt{
    display:none;
}
img
{ max-width: 100%;
  height: auto;
  border-radius: 100px; 
  box-shadow: 2px;
}
a{  
    text-decoration: inherit;
    text-shadow: 2px;
    color: rgb(255 255 255 / 38%);
    }
.wrapper 
{
    max-width: 700px;
    margin: 0px auto; 
    flex-direction: column;
    }    
.header {
    display: inline-block; 
    width: 100%; 
    background: rgb(23,147,147);
}
.header img { 
    max-width: 90px;
    height: auto;
}
.logo{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.buttons a{
    display: inline-block; 
    padding: 2px 6px; 
    border-radius:10px;
    color: #000000 ; 
    text-decoration:inherit;
    font-size: 22px; 
    margin-left: 2px;
}
.content {
 
    font-size: 15px;
    display:inline-block;
    color:#ffffff;
    width:100%;
}
.play a{
    float: left;
    color: rgb(255 255 255 / 38%); 
}
.image{
    float:left;
    text-align:center;
    font-size:20px;
    margin-top:10px;
    height: auto;
    margin-right: 10px;
    max-width: 100%;
    width: 100%;
    display:flex;
}
.picks{
    width: 100%;
    display: inline-block;
    margin-block-end:-30px;
    color: rgb(255, 255, 255);
}
.artist{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 253, 253);
}
.w1{
   width:100%;
}
.w2{
    width:100%;
    display:inline-block;
    position :relative;
}
.play a:hover{
    color: #fff;
}
.music-player--main{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background-color: #293d6b;
    left: 0px;
    right: 0px;
    width: 100%;
}
.music-player--banner{
    display:none;
}
.back{
    background:none;
    border:none;
    font-size: 60px;
    float:right;
    color:#ffffff;
    height:45px;
    width:77px;
  }
}
@media screen and (max-width:426px)
{
body
{
  font-family: 'Finlandica', sans-serif; 
  margin: 0px;
  background-color:#1a2c46;
}
.bbt{
    display:none;
}
.bbt1{
    height:32px;
    width:38px;
    display:fixed;
    border:none;
    background: none;
   }
img
{ max-width: 100%;
  height: auto;
  border-radius: 50px; 
  box-shadow: 2px;
}
a{  
    text-decoration: inherit;
    text-shadow: 2px;
    color: rgb(255 255 255 / 38%);
    }
.wrapper 
{
    max-width: 380px;
    margin: 0px auto; 
    flex-direction: column;
    }    
.header {
    display: inline-block; 
    width: 100%; 
    background: rgb(23,147,147);
}
.header img { 
    max-width: 70px;
    height: auto;
}
.logo{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.buttons a{
    display: inline-block; 
    padding: 2px 6px; 
    border-radius:10px;
    color: #000000 ; 
    text-decoration:inherit;
    font-size: 15px; 
    margin-left: 2px;
}
.content {
 
    font-size: 15px;
    display:inline-block;
    color:#ffffff;
    width:100%;
}
.play a{
    float: left;
    color: rgb(255 255 255 / 38%); 
}
.image{
    float:left;
    text-align:center;
    font-size:20px;
    margin-top:10px;
    height: auto;
    margin-right: 10px;
    max-width: 100%;
    width: 100%;
    display:flex;
}
.picks{
    width: 100%;
    display: inline-block;
    margin-block-end:-30px;
    color: rgb(255, 255, 255);
}
.artist{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 253, 253);
}
.w1{
   width:100%;
}
.w2{
    width:100%;
    display:inline-block;
}
.play a:hover{
    color: #fff;
}
.music-player--main{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background-color: #293d6b;
    left: 0px;
    right: 0px;
    width: 100%;
}
.music-player--banner{
    display:none;
}
}
@media screen and (max-width:376px)
{
body
{
  font-family: 'Finlandica', sans-serif; 
  margin: 0px;
  background-color:#1a2c46;
}
.bbt{
    display:none;
}
.bbt1{
    height:32px;
    width:38px;
    display:fixed;
    border:none;
    background: none;
   }
img
{ max-width: 100%;
  height: auto;
  border-radius: 50px; 
  box-shadow: 2px;
}
a{  
    text-decoration: inherit;
    text-shadow: 2px;
    color: rgb(255 255 255 / 38%);
    }
.wrapper 
{
    max-width: 325px;
    margin: 0px auto; 
    flex-direction: column;
    }    
.header {
    display: inline-block; 
    width: 100%; 
    background: rgb(23,147,147);
}
.header img { 
    max-width: 70px;
    height: auto;
}
.logo{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.buttons a{
    display: inline-block; 
    padding: 2px 6px; 
    border-radius:10px;
    color: #000000 ; 
    text-decoration:inherit;
    font-size: 15px; 
    margin-left: 2px;
}
.content {
 
    font-size: 15px;
    display:inline-block;
    color:#ffffff;
    width:100%;
}
.play a{
    float: left;
    color: rgb(255 255 255 / 38%); 
}
.image{
    float:left;
    text-align:center;
    font-size:20px;
    margin-top:10px;
    height: auto;
    margin-right: 10px;
    max-width: 70px;
    width: 100%;
    display:flex;
}
.picks{
    width: 100%;
    display: inline-block;
    margin-block-end:-30px;
    color: rgb(255, 255, 255);
}
.artist{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 253, 253);
}
.w1{
   width:100%;
}
.w2{
    width:100%;
    display:inline-block;
    position :relative;
}
.play a:hover{
    color: #fff;
}
.music-player--main{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background-color: #293d6b;
    left: 0px;
    right: 0px;
    width: 100%;
}
.back{
    background:none;
    border:none;
    font-size: 60px;
    float:right;
    color:#ffffff;
    height:71px;
    width:80px;
  }

}

@media (max-width:320px)
{
body
{
  font-family: 'Finlandica', sans-serif; 
  margin: 0px;
  background-color:#1a2c46;
}
.bbt{
    display:none;
}
.bbt1{
 height:32px;
 width:38px;
 display:fixed;
 border:none;
 background: none;
}

img
{ max-width: 100%;
  height: auto;
  border-radius: 50px; 
  box-shadow: 2px;
}
a{  
    text-decoration: inherit;
    text-shadow: 2px;
    color: rgb(255 255 255 / 38%);
    }
.wrapper 
{
    max-width: 290px;
    margin: 0px auto; 
    flex-direction: column;
    }    
.header {
    display: inline-block; 
    width: 100%; 
    background: rgb(23,147,147);
}
.header img { 
    max-width: 70px;
    height: auto;
}
.logo{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.buttons a{
    display: inline-block; 
    padding: 2px 6px; 
    border-radius:10px;
    color: #000000 ; 
    text-decoration:inherit;
    font-size: 15px; 
    margin-left: 2px;
}
.content {
 
    font-size: 15px;
    display:inline-block;
    color:#ffffff;
    width:100%;
}
.play a{
    float: left;
    color: rgb(255 255 255 / 38%); 
}
.image{
    float:left;
    text-align:center;
    font-size:20px;
    margin-top:10px;
    height: auto;
    margin-right: 10px;
    max-width: 70px;
    width: 100%;
    display:flex;
}
.picks{
    width: 100%;
    display: inline-block;
    margin-block-end:-30px;
    color: rgb(255, 255, 255);
}
.artist{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 253, 253);
}
.w1{
   width:100%;
}
.w2{
    width:100%;
    display:inline-block;
    position :relative;
}
.play a:hover{
    color: #fff;
}
.music-player--main{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background-color: #293d6b;
    left: 0px;
    right: 0px;
    width: 100%;
}
.back{
    background:none;
    border:none;
    font-size: 35px;
    float:right;
    color:#ffffff;
    height:65px;
    width:77px;
  }

}
